<mat-toolbar color="primary">
	<span class="fill-remaining-space">Choose which genre of movie do you want to watch</span>
</mat-toolbar>

<div class="container"> 

    <form class="form">
    
      <h3>Genre of movies available:</h3>
      
      <mat-form-field appearance="fill">
        <mat-label>Favorite genre:</mat-label>
        <mat-select [formControl]="genreControl" required (selectionChange)="genreSelected($event.value)">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{ genre.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="genreControl.hasError('required')">Please choose a genre</mat-error>
        <mat-hint>{{ genreControl.value?.id }}</mat-hint>
      </mat-form-field>

    </form>
</div>

<div *ngIf="dataAvailable; then block else loading"></div>

<ng-template #loading>
  <spinner></spinner>
</ng-template>


<ng-template #block>
    <section *ngIf="errorMessage">
      <h3 class="error-message">
        At this moment you are not able to see the list of movies. Please, try it later
      </h3>
    </section>
    <movies-list 
    *ngIf="!errorMessage" 
    [movies]="movies" 
    [genreSelected]="genreSelectedValue">
  </movies-list>
</ng-template>
