<p>movies-home works!</p>
<mat-toolbar color="primary">
	<span class="fill-remaining-space">Choose which genre of movie do you want to watch</span>
</mat-toolbar>

<div class="container"> 
  
    <form (ngSubmit)="onSubmit()" class="form">
    
      <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
          <mat-select [formControl]="control" placeholder="Genre">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
           </mat-select>
      </mat-form-field>

    </form>
</div>
