<ng-container  *ngIf="movieData$ | async; else loading">
    <h2>{{ movieData$ | async }}</h2>
    <ul>
        <li><span>Release date: </span>{{ movie.original_title }}</li>
        <li><span>Popularity: </span>{{ movie.popularity }}</li>
        <li><span>Overview: </span>{{ movie.overview }}</li>
        <li><span>Language: </span>{{ movie.original_language | uppercase }}</li>  
        <li><span>Id: </span>{{ movie.id }}</li>
    </ul>
</ng-container>

<ng-template #loading>
    <spinner></spinner>
</ng-template>
