<ng-container *ngIf="movie$ | async as movieData; else loading">
    <h2>{{ movieData.original_title  }}</h2>
    <ul>
        <li><span>Release date: </span>{{ movieData.release_date }}</li>
        <li><span>Popularity: </span>{{ movieData.popularity }}</li>
        <li><span>Overview: </span>{{ movieData.overview }}</li>
        <li><span>Language: </span>{{ movieData.original_language | uppercase }}</li>  
        <li><span>Id: </span>{{ movieData.id }}</li>
    </ul>
</ng-container>

<ng-template #loading>
    <spinner></spinner>
</ng-template>
